<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<th:block layout:fragment="content">
    <h1>리스트</h1>
    <table>
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">번호</th>
            <th scope="col">작성자</th>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">조회수</th>
            <th scope="col">좋아요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${board}">
            <td scope="row" width="10%">
                <div th:text="${board.id}"></div>
            </td>
            <td scope="row" width="10%">
                <div th:text="${board.member.userName}"></div>
            </td>
            <td scope="row" width="20%">
                <div th:text="${board.title}"></div>
            </td>
            <td scope="row" width="20%">
                <div th:text="${board.content}"></div>
            </td>
            <td scope="row" width="10%">
                <div th:text="${board.views}"></div>
            </td>
            <td scope="row" width="10%">
                <div th:text="${board.likes}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</th:block>
</body>
</html>